<!--The content below is only a placeholder and can be replaced.-->

<!-- Add the timeline -->
<vertical-timeline>

  <!-- Add some cards to the timeline. It works with *ngFor too -->

  <!-- If no value is passed for the date, the current time is used. -->
  <vertical-timeline-card [color]="'#08D198'">
    <h1>Arrival T1 </h1>

  </vertical-timeline-card>

  <!-- tomorrow = ; -->
  <vertical-timeline-card [color]="'#08D198'">
    <h1>Transfer T10</h1>
    <div> Walking distance is 100</div>
    <div> Estimated to be there within 2 min.</div>
  </vertical-timeline-card>

  <vertical-timeline-card [color]="'#D97102'">
    <h1>Custom gate D1-D20 </h1>
    <div> Walking distance is 450</div>
    <div> Estimated to be there within 12 min.</div>
    <div style="color:#D97102;"> Expected queue time is: 15 min</div>
  </vertical-timeline-card>

  <!-- tomorrow = new Date(2017, 9, 20, 14,34); -->
  <vertical-timeline-card [color]="'#08D198'">
    <h1>Gate D10</h1>
    <div> Walking distance is 720</div>
    <div> Estimated to be there within 24 min.</div>
    <div> Expected bording time: 16:55</div>

  </vertical-timeline-card>
</vertical-timeline>


