<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Transfer with No Stress
  </h1>
</div>

<!-- Add the timeline -->
<vertical-timeline>

  <!-- Add some cards to the timeline. It works with *ngFor too -->

  <!-- If no value is passed for the date, the current time is used. -->
  <vertical-timeline-card [color]="'#08D198'">
    <h1>Arrival T1 </h1>
  </vertical-timeline-card>

  <!-- tomorrow = new Date(2017, 9, 20, 14,34); -->
  <vertical-timeline-card [dateValue]="tomorrow" [color]="'#08D198'">
    <h1>Transfer T10</h1>
  </vertical-timeline-card>

  <vertical-timeline-card [color]="'#D97102'">
    <h1>Arrival T1 </h1>
  </vertical-timeline-card>

  <!-- tomorrow = new Date(2017, 9, 20, 14,34); -->
  <vertical-timeline-card [dateValue]="tomorrow" [color]="'#08D198'">
    <h1>Transfer T10</h1>
  </vertical-timeline-card>
</vertical-timeline>
